html{
    font-family: Arial, Helvetica, sans-serif;
}
header, *{
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    margin: 0px 0px 20px;
} 
header>.menuf0{
    display: flex;
}
header>.menuf0>div{
    border-right: 1px solid #cccccc;
    width: 150.5px;
    text-align: center;
}
.menuf0>div:hover{
    background-color: red;
}
.menuf0>div{
    height: 20px;
    padding: 10px 20px;
    background-color: blue;
    position: relative;
    font-weight: bolder;
    cursor: pointer;
    color: white;
}
main{
    position: relative;
    top: 400px;
}
main>.menuf0{
    width: 190.5px;
}
main>.menuf0>div{
    border-bottom: 1px solid #cccccc;
}
header .menuf1{
    position: relative;
    top: 12px;
    left: -20px;
    width: 191.5px;
    background-color: blue;
    display: none;
}
.menuf1>div{
    font-weight: lighter;
    text-align: left;
    padding: 10px 5px;
    border-bottom: 1px solid #cccccc;
}
header .menuf0>div:hover .menuf1{
    display: block;
}
.menuf1>div:hover{
    background-color: red;
}
.mainf1{
    position: relative;
    top: -28.5px;
    left: 171px;
    background-color: blue;
    display: none;
}
.mainf1>div{
    font-weight: lighter;
    border-bottom: 1px solid #cccccc;
    padding: 10px 5px;
    height: 20px;
}
.mainf1>div:hover{
    background-color: red;
}
main>.menuf0>div:hover .mainf1{
    display: block;
}

   



